/* 
Cian Hogan, Web Development Module Project
external style sheet used to apply CSS to all pages
*/

/*set alignement and font for everything by default*/
* {
    text-align: center;
    font-family: "Brandon Grotesque";
    }

/*style for leader links to make them look more like buttons*/
a.header {
  background-color: RGBA(245,238,238,1);
  border: none;
  color: RGBA(99,131,170,1);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;             
  font-size: 40px;
  margin: auto;
  cursor: pointer;
  display: inline;
  }
/*When hovered the links change color*/
a:hover{

  background-color: RGBA(99,131,170,1);
  color: RGBA(245,238,238,1);
}

/*styling all buttons*/
button {
  background-color: RGBA(245,238,238,1);
  border: none;
  color: RGBA(99,131,170,1);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;             
  font-size: 40px;
  margin: auto;
  cursor: pointer;
  display: inline;
  }
/*When hovered buttons change color*/
button:hover {

  background-color: RGBA(99,131,170,1);
  color: RGBA(245,238,238,1);
}

/*links with button class have different styling, rounded smaller text*/
a.button{
  font-family: "Brandon Grotesque";
  font-size: 30px;
  text-decoration: none;
  background-color: RGBA(245,238,238,1);
  color: RGBA(99,131,170,1);
  padding: 15px 32px;
  border-radius: 100%;
}

/*button class links hove bgc color*/
a.button:hover {
  background-color: RGBA(245,238,238,.5);
}

/*show more button class styling*/
.showMoreBtn {
  font-size: 30px;
  border-radius: 100%;
  background-color: RGBA(99,131,170,1);
  color: RGBA(245,238,238,1);
}

/*show more button hover bgc color*/
.showMoreBtn:hover {
  background-color: RGBA(99,131,170,.5);
  ;
}

/*Styling for header section uses flex to fill header evenly */
header{
  height: 256px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  }

/*Top section backgorund image*/
div#top{
  background-image: url('../images/background1.webp');
  background-repeat: no-repeat;
  background-size: cover; 
  height: 600px;
  }

/*box section withing the top, positioned in specific place*/        
div#top-box{
  background-color: rgba(235,220,220,.4);
  text-align: center;
  width: 490px;
  height: 400px;
  position: relative;
  left: 100px;
  top: 100px;
  display: grid;
  justify-content: center;
  }

/*styling to create columns*/
.column {
  float: left;
  width: 50%;
  text-align: center;
  }

/*after the row element*/
.row:after {
  content: "";
  display: table;
  clear: both;
  }

/*Styling for dropdown elements*/
.dropdown {
  position: relative;
  display: inline-flex;
  color: RGBA(99,131,170,1);
  background-color: RGBA(245,238,238,1);
  padding: 15px 32px;
  font-size: 35px;
  border: none;

}

.mini-dropdown {
  osition: relative;
  display: inline-flex;
  color: RGBA(99,131,170,1);
  background-color: RGBA(245,238,238,1);
  padding: 15px 32px;
  font-size: 12px;
  border: none;

}

/*uses flex to display content accross the full page*/
.work-section {
  display: flex;
  justify-content: space-between;
}

/*color and size of h2 in work section*/
.work-section h2{
  color: rgba(99,131,170,1);
  width: 25%;
}
/*color and size of list in work section*/
.work-section ul {
  text-align: left;
  width: 50%;
}

/*educations section in a block*/
.ed-section {
  text-align: right;
  display: block;
  justify-content: center;
  padding-bottom: 20px;
  text-align: center;
}
/*color and size of h2 in ed section*/
.ed-section h2{
  color: rgba(99,131,170,1);
}

/*styling for the form container*/
.form-container {
  max-width: 25%;
  outline: auto;
  position: relative;
  top: -80px;
  left: 75%;
  }